html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form, div {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  flex-basis: 1;
  min-height: 100vh; 
}